@model DocumentsExchange.DataLayer.Entity.FileCategory

<div class="container">
    <h3>Добавить тип документа:</h3>

    @using (Html.BeginForm("Create", "FileCategory", null, FormMethod.Post, new {id = "AddFileCategoryForm", @class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Partial("_FileCategory")

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="addFileCategoryBtn">Сохранить</button>
            </div>
        </div>


    }
</div>

<script>
    $(function() {
        $('#addFileCategoryBtn').click(function (e) {
            var $form = $(this).closest('form');

            $form.find('[data-val-field],[data-val-summary]').html('');

            Helpers.submitForm({
                form: $form,
                ajaxOptions: {
                    data: $form.serialize(),
                    url: $form.get(0).action
                }
            }).then(function (data) {
                debugger;
                if (data.success === true) {
                    $('#allFileCategoriesTable').load('@Url.Action("Caregories")');
                    $('#categoryContainer').load('@Url.Action("Create")');
                }

                console.log(data);
            });

            return false;
        });
    });
</script>

