@model IEnumerable<DocumentsExchange.DataLayer.Entity.FileCategory>

<div id="OrganizationTable" class="container-fluid">
    <table class="table table-bordered table-condensed">

        <thead>
            <tr>
                id
            </tr>

            <tr>
                Название
            </tr>

            <tr>
                Активность
            </tr>

            <tr>
                Дата создания
            </tr>

        </thead>

        <tbody>
        @if (@Model != null)
        {
            foreach (var fc in Model)
            {
                <tr>

                    <td>
                        <span class="lead">@fc.Id</span>
                    </td>

                    <td>
                        <a href="javascript:void(0)" id="editFileCategoryLink" data-url="@Url.Action("Edit", new {id = fc.Id})">@fc.Name</a>
                    </td>

                    <td>
                        <span class="lead">@(fc.IsActive ? "Да" : "Нет")</span>
                    </td>

                    <td>
                        <span class="lead">@fc.CreatedDateTime.ToString("dd/MM/yyyy")</span>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>

<div id="addingFileCategoryForm">
    @Html.Action("Create")
</div>

<script>
    $(function() {
        $('#editFileCategoryLink').on('click', function (e) {
            $('#addingFileCategoryForm').load($(this).data('url'));
        });
    });
</script>