@using Roles = DocumentsExchange.BusinessLayer.Identity.Roles
@model DocumentsExchange.DataLayer.Entity.Organization

<div style="height: 100%; min-height: 1px; position: relative">
    <div id="Tabs" role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="javascript:void(0)" role="tab" data-url="@Url.Action("Index", "RecordT1", new {id = @Model.Id})">T1</a>
            </li>
            <li>
                <a href="javascript:void(0)" role="tab" data-url="@Url.Action("Index", "RecordT2", new {id = @Model.Id})">T2</a>
            </li>
            <li>
                <a href="javascript:void(0)" role="tab" data-url="@Url.Action("Index", "FileCategories", new {id = @Model.Id})">Ф</a>
            </li>
            @{
                if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Technician))
                {
                    <li>
                        @Ajax.ActionLink("Добавить запись", "CallAddRecord", "Table", new { id = @Model.Id },
                        new AjaxOptions() { UpdateTargetId = "tabContent" },
                        new { @class = "btn btn-primary", @id = "addRecordBtn" })
                    </li>
                }
            }
           
        </ul>
    </div>
    <div id="tabContent" class="tab-pane active" style="height: 100%; position: relative; min-height: 1px;">
        @Html.Action("Index", "RecordT1", new { id = @Model.Id })
    </div>
</div>

<script>
    $(function() {
        $('#Tabs').on('click', '> ul[role=tablist] > li > a[data-url]', function(e) {
            $('#tabContent').load($(this).data('url'));
        });
    });
</script>
