@model IEnumerable<DocumentsExchange.DataLayer.Entity.Organization>

<div id="OrganizationTable" class="container-fluid">
    <table class="table table-bordered table-condensed">
        
        @*<thead>
        <tr>
            @foreach (var name in OrganizationViewModel.PropertyNames)
            {
                <th>@name</th>
            }
        </tr>
        </thead>*@

        <tbody>
        @if (@Model != null)
        {
            foreach (var org in Model)
            {
                <tr>

                    <td>
                        <span class="lead">@org.Id</span>
                    </td>

                    <td>
                        <span class="lead">@org.Name</span>
                    </td>

                    <td>
                        <span class="lead">@(org.IsActive ? "Да" : "Нет")</span>
                    </td>

                    <td>
                        <span class="lead">@org.CreatedDateTime.ToString("dd/MM/yyyy")</span>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>