@model IEnumerable<DocumentsExchange.DataLayer.Entity.Organization>

<div style="padding: 10px">
    <button class="btn btn-primary" data-url="@Url.Action("Create")">Добавить организацию</button>
</div>


<div>
    <table class="table table-bordered table-condensed" style="margin-bottom: 0px" id="allOrgsTableHead">
        <thead>
            <tr>
                <th>id</th>
                <th>Название</th>
                <th>Активность</th>
                <th>Дата создания</th>
            </tr>
        </thead>
    </table>
    <div class="table-responsive" style="max-height: 300px; min-height: 150px">
        <table class="table table-bordered table-condensed" id="allOrgsTable">
            <tbody id="allOrgsTableBody">
            @if (@Model != null)
            {
                foreach (var org in Model)
                {
                    <tr>
                        <td>
                            <span class="lead">@org.Id</span>
                        </td>
                        <td>
                            <a href="javascript:void(0)" data-url="@Url.Action("Edit", new {orgId = org.Id})">@org.Name</a>
                        </td>
                        <td>
                            <span class="lead">@(org.IsActive ? "Да" : "Нет")</span>
                        </td>
                        <td>
                            <span class="lead">@org.CreatedDateTime.ToString("dd/MM/yyyy")</span>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(function() {
        Helpers.tableResize({
            heading: $('#allOrgsTableHead'),
            table: $('#allOrgsTable')
        });
    })
</script>
