@model DocumentsExchange.DataLayer.Entity.RecordT2

@using (Html.BeginForm("Create", "RecordT2", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "AddRecordT2Form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.Partial("_RecordT2", Model)

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="addRecord2Btn">Добавить запись</button>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    $(function() {
        $('.datepicker').datetimepicker(
        {
            locale: 'ru',
            format: 'DD.MM.YYYY'
        });

        new RecordCreator.manager({
            controls: {
                uploadBtn: '#uploadFileBtn',
                addRecordBtn: "#addRecord2Btn",
                dataPlaceholder: "#tabContent",
                fileNamePlaceholder: 'input[name$=OriginalFileName]'
            },

            urls: {
                fileValidationUrl: '@Url.Action("ValidateFiles")',
                uploadUrl: '@Url.Action("Create", "RecordT2")',
                tableDataUrl: '@Url.Action("Index", new { id = Model.OranizationId })'
            }
        });
    });
</script>
