@using DocumentsExchange.DataLayer.Entity
@using DocumentsExchange.Common.Extensions;
@model DocumentsExchange.DataLayer.Entity.RecordT2

@using (Html.BeginForm("Edit", "RecordT2", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "EditRecord2Form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.Partial("_RecordT2", Model)

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="editRecord2Btn">Обновить запись</button>
            </div>
        </div>

    </div>
}

<script type="text/javascript">
    $(function() {
        $('.datepicker').datetimepicker(
        {
            locale: 'ru',
            format: 'DD.MM.YYYY'
        });

        new RecordCreator.manager({
            currency: {
                currencyDropdown: '#currencyDropDown',
                coursePlaceholder: '#currentCourse'
            },

            controls: {
                uploadBtn: '#uploadFileBtn',
                addRecordBtn: "#editRecord2Btn",
                dataPlaceholder: "#tabContent",
                fileNamePlaceholder: 'input[name$=OriginalFileName]'
            },

            urls: {
                fileValidationUrl: '@Url.Action("ValidateFiles")',
                uploadUrl: '@Url.Action("Edit", "RecordT2")',
                tableDataUrl: '@Url.Action("Index", new { id = Model.OranizationId })'
            }
        });
    });
</script>

