@model DocumentsExchange.DataLayer.Entity.File


    <h3>Добавление файла:</h3>

    @using (Html.BeginForm("Create","File", null, FormMethod.Post, new { enctype = "multipart/form-data", id= "AddFileForm", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

            @Html.ValidationSummary(true)
            @Html.Partial("_File")

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default" id="addFileBtn">Добавить файл</button>
                </div>
            </div>
    }

<script>
    $(function () {


        new RecordCreator.manager({
            controls: {
                uploadBtn: '#uploadFileBtn',
                addRecordBtn: "#addFileBtn",
                dataPlaceholder: "#FilesTableView"
            },

            urls: {
                fileValidationUrl: '@Url.Action("ValidateFiles")',
                uploadUrl: '@Url.Action("Create", "File")',
                tableDataUrl: '@Html.Raw(Url.Action("Index", new { orgId = Model.OranizationId, categoryId = Model.CategoryId }))'
            }
        });



        @*$("#addFileBtn").click(function (e) {
            var dataArray = $(this).closest("form").serializeArray();
            var act = '@Url.Action("Create","File")';
            e.preventDefault();


            var files = $('#uploadFile')[0].files;
            if (files.length > 0)
            {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    //for (var i = 0; i< dataArray.length; i++) {
                    //    data.append(dataArray[i].name, dataArray[i].value);
                    //}
                    dataArray.forEach(function (item) {
                    data.append(item.name, item.value);
                });
                //    $.post(act, data).done(function (data) {
                //        $("#FilesTable").html(data);
                //});

                    $.ajax({
                        type: "POST",
                        url: act,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {
                            $("#FilesTable").html(data);
                        },
                        error: function (xhr, status, p3) {
                            alert(xhr.responseText);
                        }
                    });
            }
        });*@
    })
</script>


   

