@using Roles = DocumentsExchange.BusinessLayer.Identity.Roles
@model DocumentsExchange.DataLayer.Entity.User

@{
    ViewBag.Title = "Перспектива";
}


<div class="row">
    @{
        if (User.IsInRole(Roles.Admin))
        {
            <div class="col-md-2">
                @Html.ActionLink("Панель администратора", "Index", "AdminPanel", new { Area = "Admin" },
            new { @class = "btn btn-default" })
            </div>
        }
    }

    <div class="col-md-offset-7 col-md-3" style="padding: 7px">
        <div class="pull-left">
            @Html.DisplayFor(m => m.UserName, new { @class = "control-label" })
            @Html.DisplayFor(m => m.FullName, new { @class = "control-label" })
        </div>
        <div class="pull-left col-md-1">
            @Html.ActionLink("выход", "Logout", "Account")
        </div>
    </div>
</div>

<div class="container" style="width: 100%" id="mainViewId">

    <div class="row" style="margin-top: 25px">

        <div class="col-md-1" id="OrganizationsTableMain" style="padding-left: 0px; padding-right: 0px;">
            <div class="panel-heading"><span style="visibility: hidden">heading</span></div>
            @Html.Action("Index", "Organizations")
        </div>

        <div class="col-md-8" id="TabCotrollerView" style="min-height: 500px; height: 1px; padding-left: 0px; padding-right: 0px">
        </div>

        <div id="ChatView" class="col-md-3" style="padding-left: 0px; min-height: 500px; height: 100%">
        </div>
    </div>

</div>





