@model DocumentsExchange.DataLayer.Entity.User

@{
    ViewBag.Title = "Перспектива";
}

<div class="row">
    <div class="pull-left col-md-10">
        @Html.ActionLink("Панель администратора", "Index", "AdminPanel", new { Area = "Admin" },
            new { @class = "btn btn-default" })
    </div>

    <div>
        @Html.DisplayFor(m => m.UserName, new { @class = "col-md-1 control-label" })
        @Html.DisplayFor(m => m.FullName, new { @class = "col-md-1 control-label" })
    </div>


    @*<div class="col-md-1">
            <input type="button" id="userName" class="btn btn-default" value="Ivan Ivanov"/>
        </div>*@
    <div class="pull-right col-md-1">
        @Html.ActionLink("выход","Logout","Account")
    </div>
</div>

<div class="container" style="width: 100%" id="mainViewId">

    <div class="row" style="margin-top: 25px">

        <div class="col-md-1" id="OrganizationsTableMain">
            <span class="pull-left">@Html.Action("Index", "Organizations")</span>
        </div>

        <div class="col-md-8" id="TabCotrollerView" style="min-height: 500px; height: 1px">
        </div>

        <div id="ChatView" class="col-md-3">
        </div>
    </div>

</div>





