@model DocumentsExchange.WebUI.ViewModels.EditUserViewModel

<div class="container">
    <h3>Редактировать пользователя:</h3>

    @using (Html.BeginForm("Edit", "User", null, FormMethod.Post, new {id = "updateUserForm", @class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
        @Html.Partial("_User", Model)

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default pull-left" id="updateUserBtn">Сохранить</button>
                @Html.ActionLink("Удалить", "Delete", new {id = Model.Id}, new {@class = "btn btn-danger pull-left", @style = "margin-left: 15px"})
            </div>
        </div>
    }
</div>

<script>
    $(function() {
        $('#updateUserBtn').click(function (e) {
            var $form = $(this).closest('form');

            $form.find('[data-val-field],[data-val-summary]').html('');

            Helpers.submitForm({
                form: $form,
                ajaxOptions: {
                    data: $form.serialize(),
                    url: $form.get(0).action
                }
            }).then(function (data) {
                debugger;
                if (data.success === true) {
                    $('#allUsersTable').load('@Url.Action("Users")');
                }

                console.log(data);
            });

            return false;
        });
    });
</script>